<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="elasticQuery">
            <h2><span>Elastic Query</span> {{elasticQuery.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quoi</span></dt>
                <dd>
                    <span>{{elasticQuery.quoi}}</span>
                </dd>
                <dt><span>Ou</span></dt>
                <dd>
                    <span>{{elasticQuery.ou}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/elastic-query', elasticQuery.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
